In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('world-crime-rate-statistics.csv')

# Assuming your date column is named 'Date', you can create a new 'Year' column with just the years
df['Year'] = pd.to_datetime(df['date'], format='%d/%m/%Y').dt.year

output_csv_file = 'clean_data.csv'  # Replace with the desired output file path
df.to_csv(output_csv_file, index=False)

In [3]:
df.head()

         date   Per 100K Population   Annual % Change Unnamed: 3  Year
0  31/12/2000                6.8542               NaN        NaN  2000
1  31/12/2001                6.9437              1.31        NaN  2001
2  31/12/2002                6.9060             -0.54        NaN  2002
3  31/12/2003                6.7293             -2.56        NaN  2003
4  31/12/2004                6.5042             -3.35        NaN  2004